
<div class="container">
  <div class= "body card-deck">
    <span class="imagem">
      <img id="photo" src="/assets/img/imagem-pensativa.jpeg" alt="boneca-pensando">
    </span>
    <div class="card text-center p-4 text-white"
      style="width: 18rem;">
      <h1>Organize sua Agenda! </h1>
      <p>
        A agenda-web traz a possibilidade de criar uma agenda personalizada,
        bloquear horários, destinar funcionários específicos
        para serviços específicos, além de não ter mais problemas com a perda de
        clientes pela falta de organização na sua rotina!
      </p>
    </div>
  </div>
</div>
