<span class="imagem">
  <img class="img-fluid" src="/assets/imagem-pensativa.jpeg" alt="boneco-pensando">
</span>

<div class="card text-center p-4 mb-10 bg-info text-white" style="width: 40rem;">

  <div class="card-body " >

    <h1>Organize sua Agenda ! </h1>
    <p class="text-center text-white">
      Com essa prática agenda, você não terá mais reclamações de clientes!!
    </p>
  </div>
  <div class="card-body">
    <h3 class="text-uppercase">Não deixe pra depois!!!</h3>
    <p class="text-center font-weight-bold">
      Organize seus negócio sem prejudicar sua vida pessoal.
    </p>

  </div>
</div>

