<form class="card">
  <div class="form-group">
    <label class="active" for="email">Email</label>
    <input type="email" [(ngModel)]="usuario.email" class="form-control" id="email"
     aria-describedby="email" placeholder="Email" name="usuario.email">
  </div>
  <div class="form-group">
    <label for="senha">Senha</label>
    <input type="password" [(ngModel)]="usuario.senha" name="usuario.senha" class="form-control" id="senha" placeholder="Senha">
  </div>
 <span class="button card-body">
  <span class="button1">
    <button type="submit" class="btn btn-primary btn-lg" (click)="login()">Entrar</button>
  </span>
  <span class="button2">
    <button type="submit" class="btn btn-primary btn-lg" (click)="register()">Cadastrar</button>
  </span>
 </span>
</form>
<router-outlet></router-outlet>
