.navbar .logo {
  height: 2rem;
  padding-right: 10px;
  align-content: center;
}
.navbar .title {
  justify-content: center;
  align-content: center;
  font-size: 1.5rem;
  font-style: oblique;
  font-weight: bold;
  color: white;
}

.navbar a{
  display: flex;
  font-size: 1rem;
  padding-left: 10px;
  padding-top: 3px;
}

.navbar .login{
  justify-content: center;
  align-content: center;
  font-size: 1rem;
  font-style: oblique;
  font-weight: bold;
  color: white;
}

.navbar .drop{
  background-color: darkgrey;
}

.navbar .drop a{
  color: rgb(0, 0, 0);
  font-style: oblique;
  font-weight: bold;
  font-size: 1rem;
}
.footer {
  color: rgb(0, 0, 0);
  font-style: oblique;
  font-weight: bold;
  font-size: 15px;
}
