<form class="needs-validation" novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-row" [ngClass]="aplicaCssErro('data')">
    <div class="col-sm-12">
      <label for="data" class="control-label">Data</label>
      <input type="date" class="form-control" formControlName="data"
      id="data" placeholder="Data">
      <app-erro-msg [control]="$any(formulario).get('data')" label="Data"></app-erro-msg>
    </div>
  </div>

  <div class="form-row" [ngClass]="aplicaCssErro('observacoes')">
    <div class="col-sm-12">
      <label for="observacoes">Observações</label>
      <input type="text" class="form-control" id="observacoes"
      formControlName="observacoes">
      <app-erro-msg [control]="$any(formulario).get('observacoes')" label="Observacoes"></app-erro-msg>
    </div>
  </div>

  <div class="form-row" [ngClass]="aplicaCssErro('cliente')">
    <div class="col-sm-12">
      <label for="cliente">Cliente</label>
      <input type="text" class="form-control" id="cliente"
      formControlName="cliente">
      <app-erro-msg [control]="$any(formulario).get('cliente')" label="Cliente"></app-erro-msg>
    </div>
  </div>

  <div class="form-row" [ngClass]="aplicaCssErro('profissional')">
    <div class="col-sm-12">
      <label for="profissional">Responsável</label>
      <input type="text" class="form-control" id="profissional"
      formControlName="profissional">
      <app-erro-msg [control]="$any(formulario).get('profissional')" label="Profissional"></app-erro-msg>
    </div>
  </div>

  <div class="form-row" [ngClass]="aplicaCssErro('servico')">
    <div class="col-sm-12">
      <label for="servico">Serviço</label>
      <input type="text" class="form-control" id="servico"
      formControlName="servico">
      <app-erro-msg [control]="$any(formulario).get('servico')" label="Servico"></app-erro-msg>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" (click)="submit()">Salvar</button>
  <button type="reset" class="btn btn-default" (click)="onCancel()">Cancelar</button>

</form>
